@charset "utf-8";

@import
  "partials/fonts",
  "partials/variables",
  "partials/mixins",
  "partials/normalize",
  "partials/utilities",
  "partials/typography",
  "partials/app"
;

header{
  background: #135ae0;
  color: #ffffff; 
}

#me {
  width: 40em;
} 
